@import "./default-palettes";

@function getColor($palette, $level) {
  @return map_get(map_get($palette, contrast), $level);
}

@function getBackground($palette, $level) {
  @return map_get($palette, $level);
}

@mixin theme($palette, $level) {
  background-color: getBackground($palette, $level);
  color: getColor($palette, $level);
}
