@import "../../style/abstract/colors";

:host {
  display: inline-block;
  .button {
    border:none;
    padding: 0.4rem 0.8rem;
    font-variant: small-caps;
    min-width: 140px;
    cursor: pointer;
  }
  .button-raised.button-info {
    @include theme($mat-indigo, 500);
  }
  .button-raised.button-danger {
    @include theme($mat-red, 500);
   }
  .button-raised.button-warning {
    @include theme($mat-deep-orange, 500);
  }
  .button-raised.button-success {
    @include theme($mat-green, 500);
  }
  .button-stroked {
    background: transparent;
    border-radius: 0.6rem;
    border-color: $dark-secondary-text;
    border-style: solid;
    border-width: 1px;
    color: $dark-secondary-text;
  }
  .button-stroked.button-info {
    border-color: getBackground($mat-indigo, 500);
    color: getBackground($mat-indigo, 500);
  }
  .button-stroked.button-danger {
    border-color: getBackground($mat-red, 500);
    color: getBackground($mat-red, 500);
  }
  .button-stroked.button-warning {
    border-color: getBackground($mat-deep-orange, 500);
    color: getBackground($mat-deep-orange, 500);
  }
  .button-stroked.button-success {
    border-color: getBackground($mat-green, 500);
    color: getBackground($mat-green, 500);
  }
}
