app-logo {
  display: block;
  color: rebeccapurple;
  .logo-container {
    display: flex;
    flex-direction: row;

    // logo styling
    .square {
      fill: currentColor;
    }
    .logo {
      width:64px;
      height:64px;
    }
    .rear-wing {
      fill: rgba(255,255,255,0.4);
    }
    .front-wing {
      fill: rgba(255,255,255,0.15);
    }

    //text styling
    .main_name, .sub_name {
      font-family:"Fira Sans",-apple-system, "Roboto", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .main_name {
      font-size:30px;
      font-weight: 700;
      padding-top:9px;
    }
    .sub_name {
      font-size:22px;
      font-weight: 200;
      margin-top: -11px;
      margin-left: 1px;
    }
  }
}
