<link rel="stylesheet" href="/build/poc-stencil-storybook.css"/>
<script type="module" src="/build/poc-stencil-storybook.esm.js"></script>
<script nomodule src="/build/poc-stencil-storybook.js"></script>
